/* Reseteo de css */
*{
    margin: 0;
    padding: 0;
}
/* finaliza el reseteo */

/* mis Fonts Personalizados */
@font-face {
    font-family: Evogria;
    src: url(../Assets/Fonts/Evogria/Evogria.otf);
}
@font-face {
    font-family: Evogria-Italic;
    src: url(../Assets/Fonts/Evogria/Evogria-Italic.otf);
}
@font-face {
    font-family: Long-Shot;
    src: url(../Assets/Fonts/LongShot/Long_Shot.ttf);
}
/* finalizan mis fonts personalizados */

/* Parametros de estilo personalizado de NavBar */
.navbarJdarg{
    background-color: rgba(37, 190, 245, 1);
    font-family: long-shot;
    font-weight: 300px;
}

/* no logre hacerlo funcionar, investigar mas
.buttonjdarg{ background-color: rgba(37, 190, 245, 1);

} */

/* Finaliza parametros de estilo personalizado de NavBar */

/* Anchors LIMPIOS de elementos indeseados para todas mis listas */
a{
    text-decoration: none;
    list-style: none;
}
main ul li{
    list-style-type: circle;
    margin: 0px 0px 0px 40px;
}

/* Imagen para mi fondo de pagina */
body{
    background-image: url(../Assets/background.png);
    background-size: contain;
}

/* estilo para barra de navegacion en header */


/* estilos para titulos */
h1{
    color: white;
    font-family: long-shot;
    font-weight: 300px;
    font-size: 100px;
}
.subtituloIndex{
    color: white;
    font-family: Evogria-Italic;
    font-weight: 300px;
    font-size: 200px;
}
.titulosImportantes{
    color: white;
    font-family: Long-shot;
    font-weight: 100px;
    /* font-size: 40px; */ 50px;
}
.subtitulosDestacados{
    color: rgb(37, 190, 245);
    font-family: Evogria-Italic;
    font-weight: 100px;
    /* font-size: 40px; */ 20px;
}
/* estilos para parrafos generales */
.textosComunes{
    color: white;
    font-family: Evogria;
    font-weight: 20px;
}
p{
    color: white;
    font-family: Evogria;
    font-weight: 10px;  
}
ul li{
    color: white;
    font-family: Evogria;
    font-weight: 5px;
}

/* estilo para footer */ 
/* aun no me decido por cual de estos colores queda mejor :c */
footer{
    /* background-color: rgba(46, 58, 114, 1); azul marino*/
    /* background-color: rgba(37, 190, 245, 1); turquesa*/
    /* background-color: rgba(167, 86, 17, 1); dorado oscuro*/
    background-color: rgba(255, 203, 47, 1);
}
footer p{
    color: black;
    font-family: Evogria;
    /* font-size: 40px; */ 15px;  
}

